<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="org.example.controller"></context:component-scan>

    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes" value="application/json"/>
                <property name="features">
                    <list>
                        <value>WriteMapNullValue</value>
                        <value>WriteDateUseDateFormat</value>
                    </list>
                </property>
            </bean>

<!--            <bean class="org.springframework.http.converter.StringHttpMessageConverter">-->
<!--                <property name="supportedMediaTypes">-->
<!--                    <list>-->
<!--                        <value>application/json;charset=UTF-8</value>-->
<!--                    </list>-->
<!--                </property>-->
<!--            </bean>-->
            <!--解决乱码-->
<!--            <bean class="org.springframework.http.converter.StringHttpMessageConverter" >-->
<!--                <property name = "supportedMediaTypes">-->
<!--                    <list>-->
<!--                        <value>application/json;charset=utf-8</value>-->
<!--                        <value>text/html;charset=utf-8</value>-->
<!--                        &lt;!&ndash; application 可以在任意 form 表单里面 enctype 属性默认找到-->
<!--                        <value>application/x-www-form-urlencoded</value>-->
<!--                         &ndash;&gt;-->
<!--                    </list>-->
<!--                </property>-->
<!--            </bean>-->
<!--            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" >-->
<!--                <property name="supportedMediaTypes">-->
<!--                    <list>-->
<!--                        <value>application/json; charset=UTF-8</value>-->
<!--                        <value>application/x-www-form-urlencoded; charset=UTF-8</value>-->
<!--                    </list>-->
<!--                </property>-->
<!--            </bean>-->
        </mvc:message-converters>

    </mvc:annotation-driven>

    <mvc:default-servlet-handler></mvc:default-servlet-handler><!--这里如果报红看看上面导入的是不是mvc,spring经常没有导入mvc,而时导入了cache-->

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

</beans>