<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账号管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/styleqingcheng.css">

    <!-- 上传图片框样式，不使用上传组件可以删除此样式 -->
    <!--    <style>-->
    <!--        .avatar-uploader .el-upload {-->
    <!--            border: 1px dashed #d9d9d9;-->
    <!--            border-radius: 6px;-->
    <!--            cursor: pointer;-->
    <!--            position: relative;-->
    <!--            overflow: hidden;-->
    <!--        }-->
    <!--        .avatar-uploader .el-upload:hover {-->
    <!--            border-color: #409EFF;-->
    <!--        }-->
    <!--        .avatar-uploader-icon {-->
    <!--            font-size: 28px;-->
    <!--            color: #8c939d;-->
    <!--            width: 150px;-->
    <!--            height: 70px;-->
    <!--            line-height: 150px;-->
    <!--            text-align: center;-->
    <!--        }-->
    <!--        .avatar {-->
    <!--            width: 150px;-->
    <!--            height: 70px;-->
    <!--            display: block;-->
    <!--        }-->

    <!--    </style>-->
</head>
<body class="hold-transition">
<div id="app">

    <div class="content-header">
        <h1>管理<small>账号管理</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item><a href="./management.html">管理中心</a></el-breadcrumb-item>
            <el-breadcrumb-item>账号管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>

    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <!--查询表单-->
                <el-form :inline="true" >
                    <el-form-item label="账号">
                        <el-input v-model="searchMap.accountEmail" placeholder="请输入账号"></el-input></el-form-item>
                    <el-button type="primary" @click="fetchData()">查询</el-button>
                    <!--测试删除功能的时候可以用-->
<!--                    <el-button type="primary" @click="formVisible=true;pojo={}">新增</el-button>-->
                    <el-button type="primary" @click="formVisible=true;pojo={}">新增</el-button>
                </el-form>
            </div>

            <el-table :data="tableData" border style="width: 100%">
                <!--                <el-table-column prop="invitationId" label="邀请码id" width="100"></el-table-column>-->
<!--                <el-table-column prop="accountId" label="账号Id" width="300"></el-table-column>-->
                <el-table-column prop="accountEmail" label="账号" width="300"></el-table-column>
                <el-table-column prop="accountPassword" label="密码" width="300"></el-table-column>
                <el-table-column prop="accountUsingCount" label="账号使用人数" width="200"></el-table-column>
                <el-table-column label="操作" >
                    <template slot-scope="scope">
                        <el-button @click="edit(scope.row.accountId)" size="mini" type="primary" size="small">修改</el-button>
                        <el-button @click="dele(scope.row.accountId)" size="mini" type="danger" size="small">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @size-change="fetchData"
                        @current-change="fetchData"
                        :current-page.sync="currentPage"
                        :page-sizes="[10, 20, 30, 40]"
                        :page-size="size"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="total">
                </el-pagination>
            </div>
            <div class="add-form">
                <!--修改和新增的弹出窗口-->
                <el-dialog  title="编辑" :visible.sync="formVisible" >
                    <el-form label-width="150px">
                        <!--                        <el-form-item label="邀请码号码"><el-input v-model="pojo.InvitationCode"></el-input></el-form-item>-->
                        <el-form-item label="账号"><el-input v-model="pojo.accountEmail"></el-input></el-form-item>
                        <el-form-item label="密码"><el-input v-model="pojo.accountPassword"></el-input></el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="save()">保存</el-button>
                            <el-button @click="formVisible = false" >关闭</el-button>
                        </el-form-item>
                    </el-form>
                </el-dialog>
            </div>

        </div>
    </div>


</div>
</body>
<script src="./js/vue.js"></script>
<!--<script src="./js/axios.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./js/elementui.js"></script>
<script>
    new Vue({
        el: '#app',
        data(){
            return {
                tableData: [],
                currentPage: 1,
                total: 10,
                size: 10,
                searchMap: {},
                pojo: {},
                entity: {},
                formVisible: false,
                addFormVisible:false
            }
        },
        created(){
            this.fetchData();
        },
        methods:{
            fetchData (){
                axios.post(`./account/selectPage?page=${this.currentPage}&size=${this.size}`,this.searchMap).then(response => {
                    console.log(response);
                    this.tableData = response.data.rows;
                    this.total = response.data.total;
                });
            },
            fetchDataAll (){
                axios.get(`./account/selectAll`).then(response => {
                    console.log(response);
                    // this.tableData = response.data.rows;
                    // this.total = response.data.total;
                    this.tableData = response.data;
                });
            },
            save (){
                // this.pojo.image= this.imageUrl; //如页面有图片上传功能放开注释
                axios.post(`./account/${this.pojo.accountId == null?'insert':'update'}`,this.pojo).then(response => {
                    this.fetchData (); //刷新列表
                    this.formVisible = false ;//关闭窗口
                });
            },
            edit (accountId){
                this.formVisible = true // 打开窗口
                // 调用查询
                axios.get(`./account/selectById?id=${accountId}`).then(response => {
                    console.log(response);
                    this.pojo = response.data;
                    // this.imageUrl=this.pojo.image //显示图片  如页面有图片上传功能放开注释
                })
            },
            dele (accountId){
                this.$confirm('确定要删除此记录吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then( () => {
                    axios.get(`./account/delete?id=${accountId}`).then(response => {
                        this.fetchData (); //刷新列表
                    })
                })
            },
            /*****图片上传相关代码  如页面有图片上传功能放开注释 **** */
            handleAvatarSuccess(res, file) {
                this.imageUrl = file.response;
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            }
        }
    })
</script>
</html>
