<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>邀请码管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/styleqingcheng.css">
</head>

<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>管理<small>邀请码管理</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item><a href="./management.html">管理中心</a></el-breadcrumb-item>
            <el-breadcrumb-item>邀请码管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>

    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <!--查询表单-->
                <el-form :inline="true" >
                    <el-form-item label="邀请码绑定的邮箱">
                        <el-input v-model="searchMap.invitationEmail" placeholder="邀请码绑定的邮箱"></el-input></el-form-item>
                    <el-form-item label="邀请码号码">
                        <el-input v-model="searchMap.invitationCode" placeholder="邀请码号码"></el-input></el-form-item>

                    <el-button type="primary" @click="fetchData()">查询</el-button>
                </el-form>
            </div>

            <el-table :data="tableData" border style="width: 100%">
                <el-table-column prop="invitationCode" label="邀请码号码" width="200"></el-table-column>
                <el-table-column prop="invitationLifetime" label="邀请码有效天数" width="80"></el-table-column>
                <el-table-column prop="invitationEmail" label="邀请码绑定的邮箱" width="220"></el-table-column>
                <el-table-column prop="invitationActivateTime" label="邀请码激活时间" width="200"></el-table-column>
                <el-table-column prop="invitationCaptchaCount" label="24小时内验证次数" width="180"></el-table-column>
                <el-table-column prop="invitationFirstCaptchaTime" label="首次验证时间" width="120"></el-table-column>
                <el-table-column prop="invitationCreateTime" label="邀请码生成时间" width="120"></el-table-column>
                <el-table-column prop="invitationUpdateTime" label="邀请码更新时间" width="120"></el-table-column>
                <el-table-column label="操作"  >
                    <template slot-scope="scope">
                        <el-button @click="edit(scope.row.invitationId)" size="mini" type="primary" size="small">修改</el-button>
                        <el-button @click="dele(scope.row.invitationId)" size="mini" type="danger" size="small">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @size-change="fetchData"
                        @current-change="fetchData"
                        :current-page.sync="currentPage"
                        :page-sizes="[100]"
                        :page-size="size"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="total">
                </el-pagination>
            </div>
            <div class="add-form">
                <!--修改的弹出窗口-->
                <el-dialog  title="编辑" :visible.sync="formVisible" >
                    <el-form label-width="150px">
                        <el-form-item label="邀请码有效天数"><el-input v-model="pojo.invitationLifetime"></el-input></el-form-item>
                        <el-form-item label="24小时内验证次数"><el-input v-model="pojo.invitationCaptchaCount"></el-input></el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="save()">保存</el-button>
                            <el-button @click="formVisible = false" >关闭</el-button>
                        </el-form-item>
                    </el-form>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>

<script src="./js/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./js/elementui.js"></script>
<script>
    new Vue({
        el: '#app',
        data(){
            return {
                tableData: [],
                currentPage: 1,
                total: 10,
                size: 100,
                searchMap: {},
                pojo: {},
                entity: {},
                formVisible: false,
                addFormVisible:false,
                options1: [{
                    value: 1,
                    label: '1'
                }, {
                    value: 3,
                    label: '3'
                }, {
                    value: 7,
                    label: '7'
                }, {
                    value: 30,
                    label: '30'
                }, {
                    value: 180,
                    label: '180'
                }, {
                    value: 366,
                    label: '366'
                }],
                options2: [{
                    value: 100,
                    label: '100'
                }, {
                    value: 500,
                    label: '500'
                }]
            }
        },
        created(){
            this.fetchData();
        },
        methods:{
            fetchData (){
                axios.post(`./invitation/selectPage?page=${this.currentPage}&size=${this.size}`,this.searchMap).then(response => {
                    console.log(response);
                    this.tableData = response.data.rows;
                    this.total = response.data.total;
                });
            },
            fetchDataAll (){
                axios.get(`./invitation/selectAll`).then(response => {
                    console.log(response);
                    this.tableData = response.data;
                });
            },
            save (){
                axios.post(`./invitation/${this.pojo.invitationId == null?'insert':'update'}`,this.pojo).then(response => {
                    this.fetchData (); //刷新列表
                    this.formVisible = false ;//关闭窗口
                });
            },
            insertMany () {
                axios.post(`./invitation/insertMany`,this.entity).then(response => {
                    this.fetchData (); //刷新列表
                    this.addFormVisible = false ;//关闭窗口
                });
            },
            edit (invitationId){
                this.formVisible = true // 打开窗口
                // 调用查询
                axios.get(`./invitation/selectById?id=${invitationId}`).then(response => {
                    console.log(response);
                    this.pojo = response.data;
                })
            },
            dele (invitationId){
                this.$confirm('确定要删除此记录吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then( () => {
                    axios.get(`./invitation/delete?id=${invitationId}`).then(response => {
                        this.fetchData (); //刷新列表
                    })
                })
            }
        }
    })
</script>
</html>
